.home {
  background-color: #fefefe;

  /* display: grid;
  grid-template-columns: 1fr 5fr 1fr;
  grid-template-rows: 4fr 4fr 4fr;
  align-items: center; */
}

.speech-bubble {
  width: 30%;
  display: block;
  max-width: 250px;
  margin: 0 0 -50px 25px;
}

.nameplate {
  max-width: 600px;
}

.slogan p {
  text-align: center;
  margin: 0;
  font-size: 1.5rem;
  font-family: Nunito Sans, sans-serif;
  font-weight: 300;
}
