@font-face {
  font-family: "Avenir LT Std";
  src: url("fonts/AvenirLTStd-Roman.eot");
  src: url("fonts/AvenirLTStd-Roman.eot?#iefix") format("embedded-opentype"),
    url("fonts/AvenirLTStd-Roman.woff2") format("woff2"),
    url("fonts/AvenirLTStd-Roman.woff") format("woff"),
    url("fonts/AvenirLTStd-Roman.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

html,
body {
  height: 100% !important;
  min-height: 100%;
}

body {
  background-color: #78cbc1;
  font-family: "Avenir LT Std";
  font-weight: 100;
  font-style: normal;
  font-size: 16px;
  margin: 0;
  padding: 0;
  height: 100%;
  min-height: 100%;
}

.home-wrapper {
  /* display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  height: 100% !important;
  min-height: 100% !important; */

  position: fixed !important;
  left: 0 !important;
  top: 0;
  width: 100vw !important;
  height: 100vh !important;
  display: flex !important;
}

.home-content {
  /* max-width: 100% !important; */

  margin: auto !important;
  height: 5em !important;
}

@media screen and (min-width: 900px) {
  .home-content {
    max-width: 50% !important;
  }
}

.ghostButton > a {
  color: #fff !important;
  width: 100px;
  display: inline-block;
  padding: 8px;
  border: 2px solid #fff;
  border-radius: 5px;
  text-align: center;
  outline: none;
  transition: background-color 0.3s ease-out, color 0.3s ease-out;
}

.ghostButton > a:hover {
  transition: background-color 0.4s ease-in, color 0.4s ease-in;
  color: #78cbc1 !important;
  background-color: #fff;
}
