.nav {
  background-color: #fefefe;
  margin: 10px;
}

.nav-logo {
  padding-top: 8px;
  width: 50px;
  display: inline-block;
}

.nav-list {
  list-style: none;
  overflow: auto;
  display: inline;
  padding: 0;
  float: right;
}

.nav-link {
  display: inline;
  margin-right: 0;
  padding-right: 40px;
}

.nav-link:last-child {
  padding-right: 10px;
}

.nav-link a {
  color: #261110;
  text-decoration: none;
  transition: all 0.4s ease;
}

.nav-link a:hover {
  color: grey;
}

@media all and (min-width: 1024px) {
  .nav-logo {
    width: 75px;
  }
}
